.advantages {
  padding-top: 45px;
  // background: linear-gradient(-5deg,  @white-beige 10%, @white 79%);
}

.advantages__preview {
  .indents();

  margin-bottom: 25px;

  font-size: 24px;
  text-align: center;
  color: @bg-darkblue;
}

.advantages__list {
  min-height: 600px;
  .list-style();
  .indents();
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: @white-beige;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom -37px;
}

.advantages__item {
  margin-bottom: 35px;

  text-align: center;
}

.advantages__title {
  .indents();
  margin-bottom: 10px;

  font-size: 18px;
  color: @black;
}

.advantages__description {
  .indents();

  color: @bg-darkblue;
}
