.advantages {
  padding-top: 45px;
}

.advantages__preview {
  .indents();
  margin-bottom: 25px;

  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: @bg-darkblue;
}

.advantages__list {
  min-height: 750px;
  .list-style();
  .indents();
  padding-bottom: 25px;

  background-color: @white-beige;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom -37px;
}

.advantages__list-wrapper {
  padding-top: 25px;
}

.advantages__item {
  padding-bottom: 35px;

  text-align: center;
}

.advantages__title {
  .indents();
  margin-bottom: 10px;

  font-size: 18px;
  color: @black;
}

.advantages__description {
  .indents();

  color: @bg-darkblue;
}

.advantages__effect {
  display: none;
}


@media (min-width: @tablet-width) {
  .advantages__wrapper {
    padding-bottom: 40px;
  }

  .advantages__preview {
    margin-bottom: 10px;

    font-size: 40px;
    line-height: 40px;

    &--line-break {
      width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .advantages__list {
    min-height: auto;
    padding-bottom: 0;

    background-image: none;
  }

  .advantages__list-wrapper {
    padding-top: 45px;

    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: left bottom -37px;
  }

  .advantages__item {
    width: 320px;
    padding-left: 10px;
    margin-left: 300px;

    text-align: left;
  }

  .advantages__effect {
    display: block;
  }

  .advantages__effect-wrapper {
    position: relative;
    background-image: url("../img/timer.svg");
    background-repeat: no-repeat;
    background-position: left 21px center;
    background-size: 238px auto;

    &::before {
      position: absolute;
      width: 202px;
      height: 202px;
      box-sizing: border-box;

      content: "24";
      font-size: 96px;
      line-height: 149.5px;
      font-weight: 700;
      text-align: center;
      color: @pink;
      border: 15px solid @pink;
      border-radius: 50%;

      left: 39px;
      top: 130px;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages__list-wrapper {
    padding-top: 0;
    display: flex;

    background-image: none;
  }

  .advantages__item {
    margin-left: 0;
    padding-top: 350px;
    padding-left: 33px;
    padding-right: 33px;

    text-align: center;

    &--mood {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
    }

    &--change {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
    }

    &--friends {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;
    }
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__effect {
    background-color: @white-beige;
  }

  .advantages__effect-wrapper {
    background-position: left 10px center;
    background-size: 298px auto;

    &::before {
      position: absolute;
      width: 253px;
      height: 253px;
      box-sizing: border-box;

      content: "24";
      font-size: 120px;
      line-height: 187px;
      font-weight: 700;
      text-align: center;
      color: @pink;
      border: 17px solid @pink;
      border-radius: 50%;

      left: 33px;
      top: 88px;
    }
  }
}
