.btn-secondary {
  display: block;
  width: 276px;

  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: @white;

  background-color: @green;
  border: none;
  border-radius: 2px;

  &:hover,
  &:focus {
    background-color: @green-hover;
    outline: none;
  }

  &:active {
    color: rgba(@white, 30%);
  }

  &:disabled {
    background-color: @light-grey;
  }
}

@media (min-width: @tablet-width) {
  .btn-secondary {
    width: 300px;
  }
}
