.contacts {
  padding-top: 44px;

  line-height: 28px;
  text-align: center;
}

.contacts__preview {
  .indents();
  margin-bottom: 33px;

  font-size: 24px;
  font-weight: 300;
  color: @bg-darkblue;
}

.contacts__list {
  padding-bottom: 16px;
}

.contacts__item {
  margin-bottom: 25px;

  &:first-child {
    margin-bottom: 19px;
  }
}

.contacts__text {
  display: block;

  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: @bg-darkblue;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 47px;
  }

  .contacts__preview {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42px;

    font-size: 40px;
    line-height: 48px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .margin();
    padding-bottom: 0;
  }

  .contacts__item {
    width: 300px;
    margin-bottom: 45px;
    padding-left: 10px;
    padding-right: 10px;

    &:nth-child(2) .contacts__text {
      padding-bottom: 3px;
    }

    &:nth-child(3) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;

      & .contacts__text {
        padding-bottom: 4px;
      }
    }
  }

  .contacts__text {
    &:first-child {
      padding-bottom: 1px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-top: 64px;
  }

  .contacts__preview {
    width: 500px;
    margin-bottom: 57px;

    font-size: 50px;
    line-height: 58px;
  }

  .contacts__list {
    margin-bottom: 43px;
  }

  .contacts__item {
    margin-bottom: 0;

    &:nth-child(2) {
      margin-bottom: 0;
      order: 3;
    }

    &:nth-child(3) {
      margin-bottom: 0;
      order: 2;

      & .contacts__text {
        padding-bottom: 2px;
      }
    }
  }

  .contacts__text {
    display: block;
    margin-bottom: 20px;
  }
}
