.filters {
  padding-top: 20px;
  padding-bottom: 41px;

  background-color: @white-beige;
}

.filters__image {
  display: block;
  .margin;
  min-height: 374px;

  background-color: @light-grey;
}

.filters__form-wrapper {
  padding-bottom: 20px;

  border-bottom: 1px solid;
  border-color: rgba(@bg-darkblue, 10%);
}

.filters__button-wrapper {
  padding-top: 38px;
}

@media (min-width: @tablet-width) {
  .filters {
    padding-top: 58px;
    padding-bottom: 50px;
  }

  .filters__flex {
    display: flex;
  }

  .filters__button-wrapper {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .filters__button-wrapper {
    width: 410px;
    display: flex;
  }
}
