.filters {
  padding-top: 20px;

  background-color: @white-beige;
}

.filters__image {
  display: block;
  .margin;
  min-height: 374px;

  background-color: @light-grey;
}

.filters__form-wrapper {
  padding-bottom: 20px;

  border-bottom: 1px solid;
  border-color: rgba(@bg-darkblue, 10%);
}

.filters__button-wrapper {
  padding-top: 38px;
  padding-bottom: 41px;
}
