.inner-page__preview {
  .indents();
  .margin();
  padding-top: 45px;
  padding-bottom: 49px;

  line-height: 30px;
  text-align: center;
  color: @bg-darkblue;

  &--photos {
    width: 253px;
  }

  &--form {
    width: 280px;
    padding-bottom: 34px;
  }
}

.inner-page__preview-hide {
  display: none;
}

@media (min-width: @tablet-width) {
  .inner-page__preview {
    padding-top: 93px;
    padding-bottom: 75px;

    font-size: 18px;
    line-height: 30px;

    &--photos {
      width: 450px;
    }

    &--form {
      width: 500px;
      padding-bottom: 71px;
    }
  }

  .inner-page__preview-hide {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .inner-page__preview {
    padding-bottom: 87px;

    &--photos {
      width: 620px;
    }

    &--form {
      width: 800px;
      padding-bottom: 69px;
    }
  }
}
