.inner-page__preview {
  .indents();
  padding-top: 40px;
  padding-bottom: 40px;

  line-height: 30px;
  text-align: center;
  color: @bg-darkblue;

  &--photos {
    width: 253px;
  }

  &--form {
    width: 280px;
  }
}

.inner-page__preview-hide {
  display: none;
}

@media (min-width: @tablet-width) {
  .inner-page__preview {
    .margin();

    font-size: 18px;
    line-height: 30px;

    &--photos {
      width: 450px;
    }

    &--form {
      width: 500px;
    }
  }

  .inner-page__preview-hide {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .inner-page__preview {
    &--photos {
      width: 620px;
    }

    &--form {
      width: 800px;
    }
  }
}
