.main-nav {
  min-height: 66px;
}

.main-nav__toogle-wrapper {
  min-height: 69px;
  // max-width: 320px;
  // .margin();
  position: relative;
}

.main-nav__toogle {
  display: block;
  position: absolute;
  width: 50px;
  height: 25px;

  top: 21px;
  right: 20px;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &--close {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 29px;
      height: 4px;

      top: 10px;
      right: -3px;

      background-color: @white;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
      background-color: @pink;
    }

    &:active::before,
    &:active::after {
      background-color: rgba(@pink, 30%);
    }
  }

  &--open {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 4px;

      top: 0;
      right: 0;

      background-color: @white;

      box-shadow: 0 9px 0 0 @white, 0 18px 0 0 @white;
    }

    &:hover::before,
    &:focus::before {
      background-color: @pink;
      box-shadow: 0 9px 0 0 @pink, 0 18px 0 0 @pink;
    }

    &:active::before {
      background-color: rgba(@pink, 30%);
      box-shadow: 0 9px 0 0 rgba(@pink, 30%), 0 18px 0 0 rgba(@pink, 30%);
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav__toogle-wrapper {
    min-height: 109px;
    // max-width: 660px;
  }

  .main-nav__toogle {
    top: 45px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    min-width: 660px;
  }

  .main-nav__toogle-wrapper {
    display: none;
  }

  .main-nav__toogle {
    display: none;
  }
}
