.page-header {
  min-height: 66px;

  background-color: @bg-darkblue;
}

@media (min-width: @desktop-width) {
  .page-header {
    background-color: rgba(@bg-dark, 30%);
  }
}

.page-header-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .page-header {
    min-height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .page-header-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-header__logo {
  display: block;
  width: 80px;
  min-height: 66px;

  // box-shadow: 0px 1px 0 0 @black, inset 0px 1px 0 0 rgba(@white, 0.15);
}


