.page-footer {
  // padding-top: 40px;
  // padding-bottom: 40px;
  text-align: center;

  &--main {
    display: none;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__social {
  .margin();
}

.page-footer__logo {
  width: 170px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding-top: 40px;
    padding-bottom: 40px;

    &--main {
      display: block;
    }
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-top: 73px;
    padding-bottom: 73px;
  }

  .page-footer__logo {
    width: 195px;
  }
}
