.page-footer {
  padding-top: 32px;
  padding-bottom: 40px;
  text-align: center;

  &--main {
    display: none;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  width: 170px;
  min-height: 45px;
  margin-bottom: 42px;
  margin-left: 50px;
}

.page-footer__logo-image {
  display: block;
  margin-top: 8px;
  margin-left: 16px;

  &:hover path,
  &:focus path {
    fill: @pink;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo-stars {
  display: none;
}

.page-footer__logo-glasses {
  display: none;
}

.page-footer__social {
  .margin();
  margin-bottom: 29px;
}

.page-footer__copyright {
  .margin();
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding-top: 36px;
    padding-bottom: 40px;

    &--main {
      display: block;
    }
  }

  .page-footer__logo-image {
    margin-top: 0;
    margin-left: 0;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__logo {
    width: 195px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .page-footer__social {
    margin-top: 4px;
    margin-bottom: 0;
  }

  .page-footer__copyright {
    margin-top: 4px;
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-top: 69px;
    padding-bottom: 73px;
  }

  .page-footer__logo {
    width: 195px;
  }

  .page-footer__logo-glasses {
    display: inline-block;
  }

  .page-footer__logo-glasses-mobile {
    display: none;
  }

  .page-footer__logo-stars {
    display: inline-block;
  }

  .page-footer__social {
    margin-left: 175px;

    &--inner {
      margin-left: 179px;
    }
  }
}
