.reviews {
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
}

.reviews__author {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
  color: @black;
}

.reviews__text {
  line-height: 30px;
  color: @bg-darkblue;
}
