.site-list {
  .list-style();
  .indents();
}

.site-list__item a {
  display: block;

  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 18px;
  font-weight: 700px;
  color: @white;
  text-transform: uppercase;
  text-align: center;

  box-shadow: 0px 1px 0 0 @black, inset 0px 1px 0 0 rgba(@white, 0.15);

  &[href]:hover,
  &[href]:focus {
    color: @pink;
  }

  &[href]:active {
    color: rgba(@pink, 30%);
  }
}


