.slogan {
  padding-top: 24px;

  color: @white;
}

.slogan__header-wrapper {
  max-width: 320px;
  .margin();

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top 86px left;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
  }
}

.slogan__header {
  .indents();
  min-height: 372px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
}

.slogan__body-wrapper {
  padding-top: 28px;
  padding-bottom: 31px;

  background-color: @bg-dark;
}

.slogan__link-wrapper {
  padding-top: 32px;
  padding-bottom: 20px;
}

.slogan__description {
  .indents();
  font-weight: 300;
  text-align: center;
}


@media (min-width: @tablet-width) {
  .slogan {
    max-width: 660px;
    .margin();
    padding-top: 50px;
    padding-bottom: 79px;

    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: bottom left -20px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }
  }

  .slogan__header-wrapper {
    margin: 0;
    margin-top: 45px;
    margin-bottom: 35px;

    background-image: none;
  }

  .slogan__header {
    min-height: auto;
    padding-left: 50px;
    padding-right: 30px;

    font-size: 40px;
    line-height: 46px;
  }

  .slogan__body-wrapper {
    margin: 0;
    padding-top: 0;
    background-color: transparent;
  }

  .slogan__body-wrapper .container {
    max-width: 320px;
    margin: 0;
  }

  .slogan__link-wrapper {
    padding-top: 47px;
    padding-bottom: 35px;
  }

  .slogan__description {
    width: 300px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .slogan {
    padding-bottom: 90px;
    max-width: 960px;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: bottom right -116px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }

  .slogan__header {
    padding-top: 14px;
    padding-left: 30px;

    font-size: 50px;
    line-height: 60px;
  }

  .slogan__header-wrapper {
    margin-bottom: 51px;
  }

  .slogan__body-wrapper .container {
    max-width: auto;
  }

  .slogan__link-wrapper {
    padding-top: 67px;
    padding-bottom: 55px;
  }
}
